.c-ball{
  width: 50%;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  transform-origin: 100% 50%;
  left: 0;
  &::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &-1::before{
    animation: ball-guruguru 1s linear 0s infinite;
  }
  &-2 {
    transform: rotate(45deg);
    &::before{
      animation: ball-guruguru 1s linear -0.125s infinite;
    }
  }
  &-3 {
    transform: rotate(90deg);
    &::before{
      animation: ball-guruguru 1s linear -0.25s infinite;
    }
  }
  &-4 {
    transform: rotate(135deg);
    &::before{
      animation: ball-guruguru 1s linear -0.375s infinite;
    }
  }
  &-5 {
    transform: rotate(180deg);
    &::before{
      animation: ball-guruguru 1s linear -0.5s infinite;
    }
  }
  &-6 {
    transform: rotate(225deg);
    &::before{
      animation: ball-guruguru 1s linear -0.625s infinite;
    }
  }
  &-7 {
    transform: rotate(270deg);
    &::before{
      animation: ball-guruguru 1s linear -0.75s infinite;
    }
  }
  &-8 {
    transform: rotate(315deg);
    &::before{
      animation: ball-guruguru 1s linear -0.875s infinite;
    }
  }
}

@keyframes ball-guruguru {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 6px;
    height: 6px;
    opacity: .2;
    margin-left: 7px;
  }
}
