.p-tw-list{
    &__title{
        font-size: 2rem;
        line-height: 50px;
        margin-bottom: 30px;
        @include mq(md) {
            font-size: 1.8rem;
            line-height: 40px;
            text-align: center;
        }
        @include mq() {
            font-size: 1.2rem;
            line-height: 20px;
            margin-bottom: 30px;
            text-align: center;
            padding-top: 10px;
        }
    }
    &__message{
        text-align: center;
        font-size: 1rem;
        line-height: 2.5;
        position: fixed;
        background-color: #3fdcff8f;
        width: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
        z-index: 2;
        @include mq() {
            font-size: 0.9rem;
            line-height: 2;
        }
    }
    &__btn{
        height: 100px;
        background: #edad0b14;
        padding: 20px 0;
        display: flex;
        padding-left: 15%;
        @include mq(md) {
            padding-left: 3%;
        }
        @include mq() {
            background: none;
            padding: 0;
            display: initial;
        }
        & input {
            width: 50px;
            height: 60px;
            @include mq() {
                width: 13%;
                height: 30px;
                margin-left: 0;
            }    
        }
        &__content{
            font-size: 1rem;
            margin-left: 5%;
            line-height: 20px;
            @include mq() {
                font-size: 0.8rem;
                margin: 20px 5% 0 5%;
                padding-left: 20px;
                text-align: center;
            }
            & li{
                list-style: disc;
            }
        }
    }
    &__pagination{
        text-align: center;
        font-size: 1.4rem;
        margin-top: 50px;
        display: flex;
        @include mq(md) {
            line-height: 40px;
        }
        @include mq() {
            font-size: 1rem;
            margin-top: 0px;
            line-height: 20px;
            display: initial;
        }
        &-div-prev, &-div-next{
            width: 23%;
            display: flex;
            @include mq(md) {
                width: 18%;
                padding-left: 0%;
                display: inline-block;
            }
            @include mq() {
                width: 100%;
                height: 30px;
                line-height: 30px;
            }
        }
        &-div-prev{
            padding-left: 11%;
            @include mq(md) {
                padding-left: 0%;
            }
            @include mq() {
                text-align: left;
                margin: 20px 0 0;
            } 
        }
        &-div-main{
            @include mq() {
                margin: 10px 0;
            } 
        }
        &-div-next{
            @include mq() {
                text-align: right;
            } 
        }
        &__link{
            display: inline;
            text-align: center;
            margin: 0 4px;
            padding: 0;
            display: inline-block;
            background:#eef1f65e;
            width: 50px;
            height: 50px;
            line-height: 50px;
            position: relative;
            border-radius: 10px;
            @include mq(md) {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            @include mq() {
                margin: 0 1px;
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
            & a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #1f263e;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all  0.3s ease;
                &:hover {
                    color: #000;
                    background: #ccf;
                    border-color: #00f;
                    border-radius: 10px;
                }
            }
            &.is-active {
                color: #000;
                background: #ccf;
                border-color: #00f;
                border-radius: 10px;
            }
        }
    }
    &__box{
        line-height: 1.4;
        margin: 40px 0;
        font-size: 1rem;
        @include mq(md) {
            margin: 30px 0;
        }
        @include mq() {
            line-height: 1.2;
            margin: 20px 0;
            font-size: 0.8rem;
        }
        &__num{
            margin-bottom: 20px;
            text-align: right;
            font-size: 1.2rem;
            padding-right: 20px;
            @include mq() {
                margin-bottom: 15px;
                font-size: 0.9rem;
                padding-right: 10px;
            }
        }
        &__detail{
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;
            border: dashed 2px #fa7426d4;
            padding: 10px 20px;
            border-radius: 5px;
            @include mq() {
                margin-bottom: 20px;
                padding: 10px 8px;
            }
            &__btn{
                position: absolute;
                left: 80%;
                @include mq(md) {
                    left: 75%;
                }
                @include mq() {
                    left: 70%;
                }
            }
            &__name{
                font-weight: bold;
                line-height: 30px;
                @include mq(md) {
                    width: 70%;
                }
                @include mq() {
                    line-height: 1.5;
                    width: 60%;
                }
            }
            &__sname{
                color: #999;
                margin-left: 10px;
                font-size: 0.9rem;
                line-height: 20px;
                @include mq() {
                    color: #000;
                    margin-left: 0px;
                    font-size: 0.7rem;
                    line-height: 1.5;
                }
            }
            &__desc{
                margin: 5px 0;
                @include mq() {
                    margin: 10px 0;
                    line-height: 1.5;
                }
            }
            &__count{
                display: flex;
                margin-bottom: 5px;
                font-size: 0.9rem;
                line-height: 20px;
                @include mq() {
                    font-size: 0.8rem;
                    line-height: 1.2;
                    width: 80%;
                    margin: 0 auto;
                }
                &-friends{
                    margin-left: 20px;
                }
                &-followers{
                    margin-left: 10px;
                }
            }
            &__text{
                background: #edad0b14;
                border-radius: 5px;
                padding: 0px 10px 10px 10px;
                @include mq() {
                    padding: 0px 5px 5px 5px;
                    line-height: 1.4;
                }
                & p {
                    margin: 10px 0px;
                }
            } 
        }
    }
    &__topscroll{
        background: #edad0b14;
        padding: 20px 0;
        @include mq() {
            background: none;
        }
    }
}
