@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

body,
html {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  color: #1f263e;
  font-size: 1.6em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #3490dc;
}

.sp_line {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp_line {
    display: block;
  }
}

.pc_line {
  display: block;
}

@media screen and (max-width: 768px) {
  .pc_line {
    display: block;
  }
}

/*要素のフォントサイズやマージン・パディングをリセットしています*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*行の高さをフォントサイズと同じにしています*/

body {
  line-height: 1;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/

/*nav ul {
    list-style:none;
}*/

ol,
ul {
  list-style: none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*テキストに打ち消し線が付くようにしています*/

del {
  text-decoration: line-through;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/

input,
select {
  vertical-align: middle;
}

/*画像を縦に並べた時に余白が出ないように*/

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

/*box-sizingを全ブラウザに対応*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.l-footer {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  line-height: 40px;
  box-shadow: 0 -10px 10px 0 rgba(237, 173, 11, 0.2);
}

@media screen and (max-width: 768px) {
  .l-footer {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  .l-footer {
    font-size: 0.7rem;
    box-shadow: none;
  }
}

.l-footer__copyright {
  display: block;
  padding: 5px 0;
}

.l-header {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  line-height: 40px;
  box-shadow: 0 10px 10px 0 rgba(237, 173, 11, 0.2);
}

@media screen and (max-width: 768px) {
  .l-header {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  .l-header {
    width: 100%;
    position: fixed;
    box-shadow: none;
    z-index: 1;
    background: rgba(255, 255, 255, 0.85);
  }
}

.l-main {
  width: 1000px;
  margin: 50px auto 50px;
}

@media screen and (max-width: 768px) {
  .l-main {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  .l-main {
    padding-top: 80px;
    margin: 0 auto;
  }
}

.l-main__inner {
  width: 98%;
  margin: 0 1%;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .l-main__inner {
    width: 100%;
    margin: 0;
  }
}

.l-nav {
  width: 100%;
  margin: 20px 0;
}

@media screen and (max-width: 414px) {
  .l-nav {
    display: none;
  }
}

.p-top__header {
  position: relative;
  overflow: hidden;
  margin: 60px 0;
}

@media screen and (max-width: 768px) {
  .p-top__header {
    margin: 40px 0;
  }
}

@media screen and (max-width: 414px) {
  .p-top__header {
    margin: 30px 0;
  }
}

.p-top__header img {
  height: 600px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-top__header img {
    height: 400px;
  }
}

@media screen and (max-width: 414px) {
  .p-top__header img {
    height: 350px;
  }
}

.p-top__header__message {
  position: absolute;
  top: 10%;
  left: 3%;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .p-top__header__message {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 414px) {
  .p-top__header__message {
    font-size: 1rem;
    width: 70%;
    font-weight: bold;
    line-height: 1.5;
  }
}

.p-top__header__btn {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 1.2rem;
  display: grid;
  text-align: center;
  width: 30%;
  background: #fa7426d4;
  border-radius: 3px;
  box-shadow: 0px 4px 0 #fa7426;
}

@media screen and (max-width: 768px) {
  .p-top__header__btn {
    top: 35%;
  }
}

@media screen and (max-width: 414px) {
  .p-top__header__btn {
    font-size: 0.8rem;
    width: 35%;
  }
}

.p-top__header__btn:hover {
  box-shadow: none;
  transform: translate3d(0, 4px, 0);
}

.p-top__header__btn a {
  padding: 20px;
  color: #fff;
}

@media screen and (max-width: 414px) {
  .p-top__header__btn a {
    padding: 5px;
  }
}

.p-top__main__section {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .p-top__main__section {
    display: block;
  }
}

.p-top__main__section__content {
  width: 30%;
  height: 350px;
}

@media screen and (max-width: 414px) {
  .p-top__main__section__content {
    width: 80%;
    height: 300px;
    margin: 20px auto;
  }
}

.p-top__main__section__content img {
  width: 100%;
  height: 250px;
}

@media screen and (max-width: 768px) {
  .p-top__main__section__content img {
    height: 200px;
  }
}

.p-top__main__section__content div {
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .p-top__main__section__content div {
    margin: 10px 0;
    font-size: 1rem;
  }
}

.p-top__main__section__content p {
  font-size: 1rem;
  line-height: 1.4;
  padding: 0 15px;
}

.p-top__main__section__btn {
  font-size: 1.2rem;
  display: grid;
  margin: 60px auto;
  text-align: center;
  width: 30%;
  background: #fa7426d4;
  border-radius: 3px;
  box-shadow: 0px 4px 0 #fa7426;
}

@media screen and (max-width: 768px) {
  .p-top__main__section__btn {
    width: 40%;
  }
}

@media screen and (max-width: 414px) {
  .p-top__main__section__btn {
    font-size: 1rem;
    width: 70%;
    margin: 0 auto 50px auto;
  }
}

.p-top__main__section__btn:hover {
  box-shadow: none;
  transform: translate3d(0, 4px, 0);
}

.p-top__main__section__btn a {
  padding: 20px;
  color: #fff;
}

@media screen and (max-width: 414px) {
  .p-top__main__section__btn a {
    padding: 15px;
  }
}

.p-header {
  width: 100%;
  padding: 0 1%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .p-header {
    padding: 0 3%;
  }
}

.p-header__logo {
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  .p-header__logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 414px) {
  .p-header__logo {
    font-size: 1.6rem;
    line-height: 36px;
  }
}

.p-header__btn {
  display: flex;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-header__btn {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 414px) {
  .p-header__btn {
    font-size: 0.8rem;
    width: 160px;
  }
}

.p-header__btn-login,
.p-header__btn-register {
  width: 150px;
}

@media screen and (max-width: 414px) {
  .p-header__btn-login,
  .p-header__btn-register {
    width: 70px;
  }
}

.p-header__btn-register-btn,
.p-header__btn-login-btn {
  display: block;
}

.p-header__btn-register-btn:hover,
.p-header__btn-login-btn:hover {
  font-weight: bold;
}

.p-header__actions {
  display: flex;
  line-height: 40px;
  text-align: center;
  font-size: 1.4rem;
  padding-right: 2%;
}

@media screen and (max-width: 414px) {
  .p-header__actions {
    display: none;
  }
}

.p-header__name {
  margin-right: 30px;
}

.p-header__nav {
  display: none;
}

@media screen and (max-width: 414px) {
  .p-header__nav {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    padding-top: 50px;
    transition: 0.5s;
  }
}

.p-header__nav.active {
  transition: 0.5s;
  transform: translateX(-100%);
  z-index: 2;
}

.p-header__nav-menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 414px) {
  .p-header__nav-menu {
    display: block;
    font-size: 1.6rem;
    text-align: center;
  }
}

.p-header__nav-menu-item {
  margin-right: 20px;
}

@media screen and (max-width: 414px) {
  .p-header__nav-menu-item {
    margin-right: initial;
    margin-bottom: 10px;
  }
}

.p-header__menu-trigger {
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 35px;
  height: 32px;
  z-index: 3;
}

@media screen and (max-width: 414px) {
  .p-header__menu-trigger {
    display: inline-block;
  }
}

.p-header__menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #777;
  border-radius: 4px;
}

.p-header__menu-trigger span:nth-of-type(1) {
  top: 0;
}

.p-header__menu-trigger span:nth-of-type(2) {
  top: 14px;
}

.p-header__menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.p-header__menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.p-header__menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.p-header__menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.p-login-box {
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .p-login-box {
    width: 70%;
  }
}

@media screen and (max-width: 414px) {
  .p-login-box {
    width: 100%;
  }
}

.p-login-box__title {
  font-size: 1.6rem;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 414px) {
  .p-login-box__title {
    font-size: 1.3rem;
    line-height: 30px;
  }
}

.p-login-box__body {
  margin-top: 30px;
}

.p-login-box__body-alert-success {
  padding: 15px;
  margin-bottom: 20px;
  background: #eef1f6;
}

.p-nav {
  font-size: 1.2rem;
  line-height: 60px;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .p-nav {
    font-size: 0.8rem;
  }
}

.p-nav li {
  width: 33%;
}

.p-nav li a {
  display: block;
}

.p-nav li a:hover {
  font-weight: bold;
}

.p-news__box {
  margin-bottom: 30px;
  padding-left: 1%;
}

@media screen and (max-width: 414px) {
  .p-news__box {
    margin-bottom: 20px;
  }
}

.p-news__box-list-link {
  line-height: 30px;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .p-news__box-list-link {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 414px) {
  .p-news__box-list-link {
    line-height: 15px;
    font-size: 0.9rem;
    padding-bottom: 5px;
  }
}

.p-news__box-list-link:hover {
  font-weight: bold;
}

.p-news__box-list-date {
  border-bottom: 1px solid #d0d3d8;
  line-height: 15px;
  font-size: 1rem;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 50px;
}

@media screen and (max-width: 768px) {
  .p-news__box-list-date {
    padding-right: 30px;
  }
}

@media screen and (max-width: 414px) {
  .p-news__box-list-date {
    line-height: 10px;
    font-size: 0.75rem;
    padding-bottom: 5px;
    padding-right: 10px;
  }
}

.p-news__title {
  font-size: 2rem;
  line-height: 40px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-news__title {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .p-news__title {
    line-height: 40px;
    margin-bottom: 10px;
  }
}

.p-rank-box__title {
  font-size: 2rem;
  line-height: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-rank-box__title {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .p-rank-box__title {
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
  }
}

.p-rank-box__info {
  display: flex;
  line-height: 30px;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 414px) {
  .p-rank-box__info {
    line-height: 20px;
    text-align: left;
    font-size: 0.9rem;
    display: block;
  }
}

.p-rank-box__info__price {
  width: 33%;
}

@media screen and (max-width: 414px) {
  .p-rank-box__info__price {
    margin-left: 20%;
    width: 80%;
  }
}

.p-rank-box__select {
  margin-top: 30px;
  background: #edad0b14;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .p-rank-box__select {
    text-align: left;
    padding: 0 6% 0 12%;
  }
}

@media screen and (max-width: 414px) {
  .p-rank-box__select {
    margin-top: 20px;
    line-height: 20px;
    font-size: 0.9rem;
    text-align: left;
    padding: 0;
  }
}

.p-rank-box__select__check {
  display: inline-block;
  width: 8%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .p-rank-box__select__check {
    width: 16%;
  }
}

@media screen and (max-width: 414px) {
  .p-rank-box__select__check {
    width: 25%;
  }
}

.p-rank-box__select__check :hover {
  font-weight: bold;
}

.p-rank-box__select__check input {
  cursor: pointer;
}

.p-rank-box__buttons {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .p-rank-box__buttons {
    margin-top: 20px;
    font-size: 0.9rem;
  }
}

.p-rank-box__buttons__btn {
  background: #edad0b14;
  line-height: 40px;
  border-radius: 3px;
  width: 32%;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .p-rank-box__buttons__btn {
    line-height: 30px;
  }
}

.p-rank-box__buttons__btn:hover {
  background: #fa7426d4;
  color: #fff;
  font-weight: bold;
}

.p-rank-box__buttons__btn.is-active {
  background: #fa7426d4;
  color: #fff;
  font-weight: bold;
}

.p-rank-box__buttons ul {
  display: flex;
  justify-content: space-between;
}

.p-rank-box__table {
  margin-top: 30px;
  overflow: auto;
}

@media screen and (max-width: 414px) {
  .p-rank-box__table {
    margin-top: 20px;
  }
}

.p-rank-box__table__update {
  text-align: right;
  margin-bottom: 20px;
  line-height: 30px;
}

@media screen and (max-width: 414px) {
  .p-rank-box__table__update {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 0.9rem;
  }
}

.p-rank-box__table table {
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
}

@media screen and (max-width: 414px) {
  .p-rank-box__table table {
    line-height: 30px;
    font-size: 0.9rem;
  }
}

.p-rank-box__table__no {
  width: 10%;
}

.p-rank-box__table__name,
.p-rank-box__table__tweets,
.p-rank-box__table__price {
  width: 30%;
}

.p-rank-box__table__name:hover {
  font-weight: bold;
}

.p-rank-box__table table thead tr th {
  vertical-align: middle;
  border-bottom: 5px solid #edad0b26;
}

.p-rank-box__table table tbody tr:nth-child(odd) td {
  background: #fff;
}

.p-rank-box__table table tbody tr:nth-child(even) td {
  background: #edad0b26;
}

.p-tw-list__title {
  font-size: 2rem;
  line-height: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p-tw-list__title {
    font-size: 1.8rem;
    line-height: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__title {
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
  }
}

.p-tw-list__message,
.c-flash-message {
  text-align: center;
  font-size: 1rem;
  line-height: 3;
  position: fixed;
  background-color: #3fdcff8f;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: bold;
  z-index: 2;
}

.p-tw-list__btn {
  height: 100px;
  background: #edad0b14;
  padding: 20px 0;
  display: flex;
  padding-left: 15%;
}

@media screen and (max-width: 768px) {
  .p-tw-list__btn {
    padding-left: 3%;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__btn {
    background: none;
    padding: 0;
    display: initial;
  }
}

.p-tw-list__btn input {
  width: 50px;
  height: 60px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__btn input {
    width: 13%;
    height: 30px;
    margin-left: 0;
  }
}

.p-tw-list__btn__content {
  font-size: 1rem;
  margin-left: 5%;
  line-height: 20px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__btn__content {
    font-size: 0.85rem;
    margin: 30px 5% 0 5%;
    padding-left: 20px;
    text-align: center;
  }
}

.p-tw-list__btn__content li {
  list-style: disc;
}

.p-tw-list__pagination {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 50px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .p-tw-list__pagination {
    line-height: 40px;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__pagination {
    font-size: 1rem;
    margin-top: 0px;
    line-height: 20px;
    display: initial;
  }
}

.p-tw-list__pagination-div-prev,
.p-tw-list__pagination-div-next {
  width: 23%;
  display: flex;
}

@media screen and (max-width: 768px) {
  .p-tw-list__pagination-div-prev,
  .p-tw-list__pagination-div-next {
    width: 18%;
    padding-left: 0%;
    display: inline-block;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__pagination-div-prev,
  .p-tw-list__pagination-div-next {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }
}

.p-tw-list__pagination-div-prev {
  padding-left: 11%;
}

@media screen and (max-width: 768px) {
  .p-tw-list__pagination-div-prev {
    padding-left: 0%;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__pagination-div-prev {
    text-align: left;
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__pagination-div-main {
    margin: 10px 0;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__pagination-div-next {
    text-align: right;
  }
}

.p-tw-list__pagination__link {
  display: inline;
  text-align: center;
  margin: 0 4px;
  padding: 0;
  display: inline-block;
  background: #eef1f65e;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .p-tw-list__pagination__link {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__pagination__link {
    margin: 0 1px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.p-tw-list__pagination__link a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #1f263e;
  transition: all 0.3s ease;
}

.p-tw-list__pagination__link a:hover {
  color: #000;
  background: #ccf;
  border-color: #00f;
  border-radius: 10px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__pagination__link a:hover {
    background: none;
  }
}

.p-tw-list__pagination__link.is-active {
  background: #ccf;
}

.p-tw-list__box {
  line-height: 1.4;
  margin: 40px 0;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .p-tw-list__box {
    margin: 30px 0;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__box {
    line-height: 1.2;
    margin: 20px 0;
    font-size: 0.8rem;
  }
}

.p-tw-list__box__num {
  margin-bottom: 20px;
  text-align: right;
  font-size: 1.2rem;
  padding-right: 20px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__num {
    margin-bottom: 15px;
    font-size: 0.9rem;
    padding-right: 10px;
  }
}

.p-tw-list__box__detail {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border: dashed 2px #fa7426d4;
  padding: 10px 20px;
  border-radius: 5px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__detail {
    margin-bottom: 20px;
    padding: 10px 8px;
  }
}

.p-tw-list__box__detail__btn {
  position: absolute;
  left: 80%;
}

@media screen and (max-width: 768px) {
  .p-tw-list__box__detail__btn {
    left: 75%;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__detail__btn {
    left: 70%;
  }
}

.p-tw-list__box__detail__name {
  font-weight: bold;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .p-tw-list__box__detail__name {
    width: 70%;
  }
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__detail__name {
    line-height: 1.5;
    width: 60%;
  }
}

.p-tw-list__box__detail__sname {
  color: #999;
  margin-left: 10px;
  font-size: 0.9rem;
  line-height: 20px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__detail__sname {
    color: #000;
    margin-left: 0px;
    font-size: 0.7rem;
    line-height: 1.5;
  }
}

.p-tw-list__box__detail__desc {
  margin: 5px 0;
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__detail__desc {
    margin: 10px 0;
    line-height: 1.5;
  }
}

.p-tw-list__box__detail__count {
  display: flex;
  margin-bottom: 5px;
  font-size: 0.9rem;
  line-height: 20px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__detail__count {
    font-size: 0.8rem;
    line-height: 1.2;
    width: 80%;
    margin: 0 auto;
  }
}

.p-tw-list__box__detail__count-friends {
  margin-left: 20px;
}

.p-tw-list__box__detail__count-followers {
  margin-left: 10px;
}

.p-tw-list__box__detail__text {
  background: #edad0b14;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
}

@media screen and (max-width: 414px) {
  .p-tw-list__box__detail__text {
    padding: 0px 5px 5px 5px;
    line-height: 1.4;
  }
}

.p-tw-list__box__detail__text p {
  margin: 10px 0px;
}

.p-tw-list__topscroll {
  background: #edad0b14;
  padding: 20px 0;
}

@media screen and (max-width: 414px) {
  .p-tw-list__topscroll {
    background: none;
  }
}

.p-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #43434317;
  z-index: 1;
}

.p-wrapper_balls-guruguru {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

.is-visible {
  visibility: hidden;
}

.c-ball {
  width: 50%;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  transform-origin: 100% 50%;
  left: 0;
}

.c-ball::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.c-ball-1::before {
  -webkit-animation: ball-guruguru 1s linear 0s infinite;
          animation: ball-guruguru 1s linear 0s infinite;
}

.c-ball-2 {
  transform: rotate(45deg);
}

.c-ball-2::before {
  -webkit-animation: ball-guruguru 1s linear -0.125s infinite;
          animation: ball-guruguru 1s linear -0.125s infinite;
}

.c-ball-3 {
  transform: rotate(90deg);
}

.c-ball-3::before {
  -webkit-animation: ball-guruguru 1s linear -0.25s infinite;
          animation: ball-guruguru 1s linear -0.25s infinite;
}

.c-ball-4 {
  transform: rotate(135deg);
}

.c-ball-4::before {
  -webkit-animation: ball-guruguru 1s linear -0.375s infinite;
          animation: ball-guruguru 1s linear -0.375s infinite;
}

.c-ball-5 {
  transform: rotate(180deg);
}

.c-ball-5::before {
  -webkit-animation: ball-guruguru 1s linear -0.5s infinite;
          animation: ball-guruguru 1s linear -0.5s infinite;
}

.c-ball-6 {
  transform: rotate(225deg);
}

.c-ball-6::before {
  -webkit-animation: ball-guruguru 1s linear -0.625s infinite;
          animation: ball-guruguru 1s linear -0.625s infinite;
}

.c-ball-7 {
  transform: rotate(270deg);
}

.c-ball-7::before {
  -webkit-animation: ball-guruguru 1s linear -0.75s infinite;
          animation: ball-guruguru 1s linear -0.75s infinite;
}

.c-ball-8 {
  transform: rotate(315deg);
}

.c-ball-8::before {
  -webkit-animation: ball-guruguru 1s linear -0.875s infinite;
          animation: ball-guruguru 1s linear -0.875s infinite;
}

@-webkit-keyframes ball-guruguru {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  100% {
    width: 6px;
    height: 6px;
    opacity: 0.2;
    margin-left: 7px;
  }
}

@keyframes ball-guruguru {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  100% {
    width: 6px;
    height: 6px;
    opacity: 0.2;
    margin-left: 7px;
  }
}

.c-btn__autofollow {
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
  text-align: center;
  background: #fa7426d4;
  color: #fff;
  width: 240px;
  margin: 0 3%;
  display: block;
  cursor: pointer;
  box-shadow: 0px 4px 0 #fa7426;
}

@media screen and (max-width: 414px) {
  .c-btn__autofollow {
    width: 80%;
    height: 40px;
    display: initial;
    margin: 0;
    box-shadow: 0px 2px 0 #fa7426;
  }
}

.c-btn__autofollow:hover {
  box-shadow: none;
  transform: translate3d(0, 4px, 0);
}

.c-btn__userfollow {
  font-size: 1.2rem;
  border-radius: 3px;
  border: none;
  padding: 5px 5px;
  text-align: center;
  background: #fa7426d4;
  color: #fff;
  width: 160px;
  cursor: pointer;
  box-shadow: 0px 4px 0 #fa7426;
}

@media screen and (max-width: 768px) {
  .c-btn__userfollow {
    font-size: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .c-btn__userfollow {
    font-size: 0.8rem;
    padding: 2px 2px;
    width: 80px;
  }
}

.c-btn__userfollow:hover {
  box-shadow: none;
  transform: translate3d(0, 4px, 0);
}

.c-btn__topscroll {
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
  text-align: center;
  background: #fa7426d4;
  color: #fff;
  width: 240px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  box-shadow: 0px 4px 0 #fa7426;
}

@media screen and (max-width: 414px) {
  .c-btn__topscroll {
    font-size: 1rem;
    width: 240px;
  }
}

.c-btn__topscroll:hover {
  box-shadow: none;
  transform: translate3d(0, 4px, 0);
}

.c-error__message {
  color: firebrick;
  margin: 10px 0 0 0;
  display: inline-block;
}

.c-form {
  margin-bottom: 30px;
}

.c-form__label {
  font-size: 1.2rem;
}

.c-form__input input {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 8px;
  padding: 8px 8px;
}

.c-form__check {
  line-height: 30px;
}

.c-form__check__input {
  cursor: pointer;
}

.c-form__check__label {
  font-size: 1.2rem;
  cursor: pointer;
}

.c-form__submit__btn {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 1.2rem;
  border: none;
  border-radius: 3px;
  background: #3490dc;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-form__submit__btn {
    padding: 10px 0;
  }
}

@media screen and (max-width: 414px) {
  .c-form__submit__btn {
    padding: 5px 0;
  }
}

.c-form__submit__btn:hover {
  background: #4386eb;
}

.c-form__submit__request {
  margin-top: 20px;
  text-align: center;
}

.c-form__submit__request-link {
  font-size: 1rem;
}

.c-form__input input[type=text],
.c-form__input input[type=email],
.c-form__input input[type=password] {
  border: 1px solid #bdbdbd;
}

.c-form__input-error {
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .c-form__input-error {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
}

