.l-footer {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  background: #fff;
  line-height: 40px;
  box-shadow: 0 -10px 10px 0 rgba(237, 173, 11, 0.2);
  &__copyright {
    display: block;
    padding: 5px 0;
  }
  @include mq(md) {
    width: 90%;
  }
  @include mq() {
    font-size: 0.7rem;
  }
}
