.l-footer {
    width: $site-width;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    line-height: 40px;
    -webkit-box-shadow: 0 -10px 10px 0 rgba(237, 173, 11, 0.2);
          box-shadow: 0 -10px 10px 0 rgba(237, 173, 11, 0.2);
    @include mq(md) {
            width: 90%;
        }
    @include mq() {
        font-size: 0.7rem;
        box-shadow: none;
    }
    &__copyright {
        display: block;
        padding: 5px 0;
    }    
}
